<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - UMS Identity</title>
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
</head>
<body>
<main class="auth-shell">
    @RenderBody()
</main>
</body>
</html>